<div class="merchant-list" ng-controller="RefundingController">
	<div class="ml-top-title">退款管理&gt退款中</div>
	<div class="ml-mid-detail">
		<!-- <ul class="ml">
			<li class="ml-detail">
				<p>所属商家</p>
			</li>
			<li class="ml-detail">
			<select  ng-model="mid" ng-options="m.mid as m.merchantName for m in merchantlist"></select>
			</li>
		</ul> -->
		
		<div class="clear h10"></div>
	
		<div class="ml-ser" ng-click="search()">查询</div>
	</div>
	<div class="ml-content">
		<div class="ml-hd">
			<div class="mlh-mid">
				<ul class="mlhm">
					<li class="mlh-m">日期</li>
					<li class="mlh-m mlh-m2">退单编号</li>
					<li class="mlh-m mlh-m2" style="width:250px;">订单编号/商品信息</li>
					<li class="mlh-m">订单金额</li>
					<li class="mlh-m">退款金额</li>
					<li class="mlh-m">状态</li>
					<li class="mlh-m">操作</li>
				</ul>
			</div>
		</div>
		<div class="ml-bd">
			<div class="mlb-mid">
				<div  ng-repeat="refund in refunds" class = "mlb-line">
					<ul class="mlbm" style="text-align: center;">
						<li class="mlb-m">{{refund.addtime|date:'yyyy-MM-dd hh:mm:ss'}}</li>
						<li class="mlb-m mlb-m2">{{refund.refundno}}</li>
						<li class="mlb-m mlb-m2" style="width:250px;">{{refund.orderno}}/{{refund.gname}}</li>
						<li class="mlb-m">{{refund.omoney}}</li>
						<li class="mlb-m">{{refund.money}}</li>
						<li class="mlb-m">{{refund.statusName}}</li>
						<li class="mlb-m">
							<a href="#" class="aa" ng-click="accept(refund)">同意</a>
							<a href="#/trading-center/refunding/deny/{{refund.id}}" class="aa">拒绝</a>
						</li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>