<div class="center-view" ng-controller="AuctionAdditionController">
<ng-form  name='saveForm'>

	<div class="commodity-main">
		<div class="commodity-main-hd">
			竞拍商品管理&gt;添加竞拍商品
		</div>
		<div class="commodity-base-info">
			<div class="release-commodity-hd">
				基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">竞拍商品：</div>
						<div class="release-commodity-info-txt fl" >
							<select name='gid' ng-model="auctionGoods.gid" ng-options="goods.gid as goods.name for goods in goodslist" class="release-commodity-select-length" required ng-change="listSku(auctionGoods.gid)"></select>
						</div>
						<p ng-show="saveForm.gid.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">型号:</div>
						<div class="release-commodity-info-txt fl" >
							<select name='skuid' ng-model="auctionGoods.skuid" ng-options="sku.id as sku.propertiesValue for sku in skulist" class="release-commodity-select-length" required></select>
						</div>
						<p ng-show="saveForm.skuid.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">开始时间：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-p-end-day" ng-model="auctionGoods.startTime"
							onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="startTime">
							
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">结束时间：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-p-end-day" ng-model="auctionGoods.endTime"
							onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="endTime">
							
						</div>
					</li>
					
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">结束方式：</div>
						<div class="release-commodity-info-txt fl">
							<select name='skuid' ng-model="auctionGoods.type" ng-options="type.id as type.name for type in typeList" class="release-commodity-select-length" required></select>
						</div>							
					</li>
					
					<div class="clear"></div>
					<li ng-if="'DELAY'==auctionGoods.type">
						<div class="release-commodity-info-label fl">延迟秒数：</div>
						<div class="release-commodity-info-txt fl" >
							<input class="release-commodity-input-length release-commodity-postage fl" type="number" ng-model="auctionGoods.delaySecond" pattern="^\d+$" name="number" required>
							
						</div>
						
					</li>
					<div class="clear"></div>
					<li >
						<div class="release-commodity-info-label fl">定金：</div>
						<div class="release-commodity-info-txt fl" >
							<input class="release-commodity-input-length release-commodity-postage fl" type="number" ng-model="auctionGoods.deposit" pattern="^\d+$"  required>
							
						</div>
						
					</li>
					<div class="clear"></div>
					<li >
						<div class="release-commodity-info-label fl">起拍价：</div>
						<div class="release-commodity-info-txt fl" >
							<input class="release-commodity-input-length release-commodity-postage fl" type="number" ng-model="auctionGoods.startPrice" pattern="^\d+$"  required>
							
						</div>
						
					</li>
					<div class="clear"></div>
					<li >
						<div class="release-commodity-info-label fl">最低加价：</div>
						<div class="release-commodity-info-txt fl" >
							<input class="release-commodity-input-length release-commodity-postage fl" type="number" ng-model="auctionGoods.addPrice" pattern="^\d+$"  required>
						</div>
						
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>


		<div class="release-commodity-footer" >
		<!--  -->
			<button class="release-commodity-btn"  ng-click="submit(auctionGoods)"
			ng-disabled="saveForm.$invalid">
				发布
			</button>
		</div>
	</div>

</ng-form>
</div>

