ul.scl{
	margin-bottom:0;
	}
.seller-center-left{
		float: left;
		height: 550px;
		margin-bottom: 683px;
	}
.seller-center-left-nav{
	width: 180px;
	height: 550px;
	font-size: 16px;
	background-color:#F3F3F3;
	padding-left:15px;
	padding-right: 17px;
}
.seller-center-left-nav >ul >li{
	width:148px;
    padding-left:33px;
    padding-right:18px;
}
ul>li.sc-first-menu{
	font-weight: bold;
	margin-bottom:21px;
	margin-top: 31px;
}
ul>li.sc-smb{
	width: 148px;
	border-bottom: 1px solid #ccc;
}
ul>li.sc-smb-l{
	border-bottom: none;
}
ul>li.sc-second-menu-item{
	width:148px;
	position:relative;
	cursor:pointer;
	margin-bottom:6px;
}
ul>li.sc-smb .sc-smi{
	margin-bottom:40px;
}
ul>li.sc-second-menu-item-selected{ 
	color:#ff3433;
}