<div class="delivering" ng-controller="OrderController">
	<div class="sg-top-title">发货中</div>
	<div class="sg-mid-detail">
		商家ID:<input type="text" ng-model="condition.mid">
		<div class="clear h10"></div>
		<div class="sg-ser" ng-click="searchDelivering()">搜索</div>
	</div>
	<div class="sg-content">
		<div class="sg-bd">
			<div class="sgb-item" ng-repeat="order in orders">
				<table  class="sgb-hd">
					<tbody>
						<tr class="sgb-info">
							<td class="sgb-no">
								<span >订单号：</span>
								<span class="sgb-no-info">{{order.orderno}}</span>
							</td>
							<td class="sgb-date">
								<span>下单时间：{{order.addtime | date: 'yyyy-HH-dd hh:mm:ss'}}</span>
							</td>
						</tr>
					</tbody>
				</table>
				<table  class="sgb-bd">
					<tbody class="sgb-products">
						<tr>
							<td class="sgb-products-item">
								<table class="sgb-clu">
									<tbody>
										<tr ng-repeat="goods in order.goods">
											<td class="sgb-product">
												<div class="sgb-fl">
													<img class="sgb-p-img" ng-src="../images/seller-center/g1.png"></div>
												<div class="sgb-p-name fl">
													<p>
														{{goods.gname}}
													</p>
												</div>
											</td>
											<td class="sgb-pri">{{goods.price}}</td>
											<td class="sgb-amount">{{goods.count}}</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="sgb-receiver" >
								<p>{{order.receiver}}</p>
							</td>
							<td class="sgb-state" >
								快递单号：<input type="text" ng-model="logistic.expressno" required max-length=20><br>
								快递名称：<input type="text" ng-model="logistic.expressName" required max-length=20><br>
								<p class="sgb-close" ng-click="delivered(order)">邮寄商品</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>