<div class="sold-goods" ng-controller="OrderListController">
	<div class="sg-top-title">交易管理&gt已卖出的宝贝</div>
	<div class="sg-mid-detail">
		<ul class="sg">
			<li class="sg-detail">
				<p>宝贝名称：</p>
				<input type="text" class="sg-t" ng-model="gname"></li>
			<li class="sg-detail">
				<p>成交时间：从&nbsp</p>
				<input  id="fromtime" class="release-commodity-shelf-start-day" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-model="fromdate">
				<span class="sg">到&nbsp</span>
				<input  id="endtime" class="release-commodity-shelf-start-day" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" ng-model="enddate">
			</li>
			<li class="sg-detail">
				<p>买家昵称：</p>
				<input type="text" class="sg-t" ng-model="uname"></li>
			<li class="sg-detail">
				<p>订单状态：</p>
				<select class="sg-ss my-order-state-select" ng-model="currentstatus" ng-options="status.name for status in orderstatus">
				</select>
			</li>
			<!-- <li class="sg-detail">
				<p>评价状态：</p>
				<select class="sg-ss">
					<option class="sg-o" value="">全部</option>
					<option class="sg-o" value="">需我评价</option>
					<option class="sg-o" value="">我已评价</option>
					<option class="sg-o" value="">对方已评</option>
				</select>
			</li> -->
			<li class="sg-detail">
				<p>订单编号：</p>
				<input type="text" class="sg-t" ng-model="orderno">
			</li>
			<!-- <li class="sg-detail">
				<p>售后服务：</p>
				<select class="sg-ss">
					<option class="sg-o" value="">买家投诉</option>
					<option class="sg-o" value="">我已投诉</option>
					<option class="sg-o" value="">退款中</option>
				</select>
			</li> -->
		</ul>
		<div class="clear h10"></div>
		<div class="sg-ser" ng-click="search()">搜索</div>
		<div>查询到{{count}}条数据</div>
	</div>
	<div class="sg-content">
		<div class="sg-hd">
			<!-- <div class="sgh-top">
				<ul class="sgh">
					<li class="sgh-t cur">近三个月订单</li>
					<li class="sgh-t">等待买家付款</li>
					<li class="sgh-t">等待发货</li>
					<li class="sgh-t">已发货</li>
					<li class="sgh-t">退款中</li>
					<li class="sgh-t">需要评价</li>
					<li class="sgh-t">成功的订单</li>
					<li class="sgh-t">关闭的订单</li>
					<li class="sgh-t">三个月前的订单</li>
				</ul>
			</div> -->
			<div class="sgh-mid">
				<ul class="sghm">
					<li class="sgh-m">商品名称</li>
					<li class="sgh-m">单价（元）</li>
					<li class="sgh-m">数量</li>
					<li class="sgh-m">买家</li>
					<li class="sgh-m">交易状态</li>
					<li class="sgh-m">实收款（元）</li>
					<li class="sgh-m">评价</li>
				</ul>
			</div>
			<!-- <div class="sgh-bottom">
				<div class="sghb-left">
					<input type="checkbox" class="sghbl">
					<div class="sghbl1">全选</div>
					<div class="sghbl2">
						<span class="sghblb">批量发货</span>
					</div>
					<div class="sghbl3">
						<span class="sghblb">批量免运费</span>
					</div>
				</div>
				<div class="sghb-right">
					<input type="checkbox" class="sghbr">
					<div class="sghbr1">
						<span class="sghbrb">不显示已关闭的订单</span>
					</div>
				</div>
			</div> -->
		</div>
		<div class="sg-bd">
			<div class="sgb-item" ng-repeat="order in orders">
				<table  class="sgb-hd">
					<tbody>
						<tr class="sgb-info">
							<td class="sgb-no">
								<span >订单号：</span>
								<span class="sgb-no-info">{{order.orderno}}</span>
							</td>
							<td class="sgb-date">
								<span>下单时间：{{order.addtime | date:'yyyy-MM-dd hh:mm:ss'}}</span>
							</td>
						</tr>
					</tbody>
				</table>
				<table  class="sgb-bd">
					<tbody class="sgb-products">
						<tr>
							<td class="sgb-products-item">
								<table class="sgb-clu">
									<tbody>
										<tr ng-repeat="goods in order.goods">
											<td class="sgb-product">
												<div class="sgb-fl">
													<a href="http://www.zhonghuaejiao.com/#/product/detail/{{goods.gid}}/description" target="_blank"><img class="sgb-p-img" ng-src="{{goods.imgpath}}@90w_90h.jpg">
													</a>
												</div>
												<div class="sgb-p-name fl">
													<p>
														<a href="http://www.zhonghuaejiao.com/#/product/detail/{{goods.gid}}/description" target="_blank">{{goods.gname}}</a>
													</p>
												</div>
											</td>
											<td class="sgb-pri">{{goods.pprice?goods.pprice:goods.price}}</td>
											<td class="sgb-amount">{{goods.count}}</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="sgb-receiver" >
								<p>{{order.uname}}</p>
								<p>{{order.receiver}}</p>
							</td>
							<td class="sgb-state" >
								<p class="sgb-ed">{{order.statusName}}</p>
								<p class="sgb-detail"><a href="#/trading-center/order/detail?oid={{order.id}}">详情</a></p>
								<p class="sgb-close" ng-show="canCancel(order)" ng-click="closeOrder(order)">关闭交易</p>
								<p class="sgb-close" ng-show="canAccept(order)" ng-click="acceptOrder(order)">接受订单</p>
							</td>
							<td class="sgb-sum" >
								<p class="sgb-sum-money">{{order.payout}}（含快递{{order.postage}}）</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-hide="hasData">未查询到相关数据。</div>
			<div ng-show="hasMore" ng-click="listMore()" style="cursor:pointer;text-align:center;">查看更多&gt;&gt;</div>
		</div>
	</div>
</div>