<div class="center-view" ng-controller="GoodsTypeController as goodsTypeController">
<ng-form  name='saveForm'>

	<div class="commodity-main">
		<div class="commodity-main-hd">
			类别管理&gt;类别维护
		</div>
		<div class="commodity-base-info">
			<div class="release-commodity-hd">
				1、类别基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">类别名称：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="gt.name" name="name" required>
						</div>	
						<p ng-show="saveForm.name.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>			
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">管理员排序：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="gt.adminsort" name="adminsort"  pattern="^[+-]?\d+(\.\d+)?$">
						</div>
						<p ng-show="saveForm.adminsort.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>	
						<p ng-show="saveForm.adminsort.$dirty && saveForm.adminsort.$error.pattern" style="color: red" >&nbsp;管理员排序只能输入数字</p>
					</li>
					<div class="clear"></div>
					
		<div class="release-commodity-footer" >
			<button class="release-commodity-btn" ng-click="update(gt)"
			ng-disabled="saveForm.$invalid"
			> 修改
			</button>
		</div>
	</div>

</ng-form>
</div>

