<div class="seller-center-left">
	<div class="seller-center-left-nav">
		<div class="scl-title">站内信息</div>
		<ul class="scl">
			<li class="sc-first-menu">邮费模板</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="postage.list" ui-sref-active="sc-second-menu-item-selected">运费模板管理</li>
						<li class="sc-second-menu-item" ui-sref="postage.add" ui-sref-active="sc-second-menu-item-selected">运费模板新增</li>
					</ul>
				</div>
			</li>
			
		</ul>
	</div>
</div>