<div class="merchant-list" ng-controller="DiscountcounponController">
	<div class="ml-top-title">购物金管理</div>
	<div class="ml-mid-detail">
		<ul class="ml">
			
			卡号:<input ng-model="cash.cardNum" type="text">
			
			是否锁定:<select ng-model="cash.locked" >
						<option value='true' >是</option>
						<option value='false' >否</option>
					  </select>
			
		</ul>
		
		<div class="clear h10"></div>
	
		<div class="ml-ser" style='float: left;'ng-click="reSearch()">查询</div>
		<div class="ml-ser" style='float: left;' ng-click="unlock()">解锁</div>
		<div class="clear"></div>
	</div>
	<div class="ml-content" style="width: 1200px;">
		<div class="ml-hd">
			<div class="mlh-mid">
				<ul class="mlhm">
					<li class="mlh-m ">
						<input type="checkbox" ng-click='chkAll(chkall)' ng-model="chkall">
						<span>全选</span>
					</li>
					
					<li class="mlh-m mlh-m2">卡号</li>
					<li class="mlh-m mlh-m2">面额</li>
					<li class="mlh-m mlh-m2" >生成时间</li>
					<li class="mlh-m">使用门槛</li>
					<li class="mlh-m">使用状态</li>
					<li class="mlh-m">使用时间</li>
					<li class="mlh-m">是否删除</li>
					<li class="mlh-m">锁定状态</li>
					<li class="mlh-m">备注</li>
					
				</ul>
			</div>
		</div>
		<div class="ml-bd">
			<div class="mlb-mid">
				<div  ng-repeat="counpon in counpons" class = "mlb-line">
					<ul class="mlbm" style="text-align: center;">
						<li class="mlb-m">
							<input type="checkbox" ng-change="selectItem(counpon)" ng-model="counpon.selected" value="{{counpon.id}}" ng-true-value="true" ng-false-value="false">
						</li>
						<li class="mlb-m mlb-m2">{{counpon.cardNum}}</li>
						<li class="mlb-m mlb-m2">{{counpon.value}}</li>
						<li class="mlb-m mlb-m2" >{{counpon.addtime}}</li>
						<li class="mlb-m">{{counpon.threshhold}}</li>
						<li class="mlb-m " >{{counpon.used}}</li>
						<li class="mlb-m">{{counpon.usedtime}}</li>
						<li class="mlb-m">{{counpon.del}}</li>
						<li class="mlb-m">{{counpon.locked}}</li>
						<li class="mlb-m">{{counpon.remark}}</li>
						
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>