<div class="center-view">
	<div class="commodity-main">
		<div class="commodity-main-hd">
			商品管理&gt;发布商品
		</div>
		<div class="commodity-base-info">
			<div class="release-commodity-hd">
				1、商品基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">商品所属商家：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required>
								<option></option>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品所属品牌：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required>
								<option></option>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品名称：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-name" required  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品编码：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品类型：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required>
								<option></option>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品价格：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length" required  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品是否促销：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length">
								<option></option>
								<option>是</option>
								<option>否</option>
							</select>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品促销价格：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品促销时间：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-p-start-day">日
							<select class="release-commodity-p-start-hour">
								<option>1</option>
								<option>2</option>
							</select>时
							<select class="release-commodity-p-start-minute">
								<option>1</option>
								<option>2</option>
							</select>分&nbsp;&nbsp;&nbsp;&nbsp;到
							<input class="release-commodity-p-end-day">日
							<select class="release-commodity-p-end-hour">
								<option>1</option>
								<option>2</option>
							</select>时
							<select class="release-commodity-p-end-minute">
								<option>1</option>
								<option>2</option>
							</select>分
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">是否上架：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required>
								<option></option>
								<option>是</option>
								<option>否</option>
							</select>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">邮费：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length release-commodity-postage fl" required />
							<input class="fl" type="radio" name="release-commodity-postage-type" checked="checked" />
							<div class="release-commodity-radio-txt fl">快递</div>
							<input class="fl" type="radio" name="release-commodity-postage-type"/>
							<div class="release-commodity-radio-txt fl">EMS</div>
							<input class="fl" type="radio" name="release-commodity-postage-type"/>
							<div class="release-commodity-radio-txt fl">平邮</div>
							<input class="fl" type="radio" name="release-commodity-postage-type"/>
							<div class="release-commodity-radio-txt fl">卖家包邮</div>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">减库存方式：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required>
								<option>1</option>
								<option>2</option>
							</select>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">条形码：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品标题：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-title"  type="text">
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

		<div class="commodity-food-safety-info">
			<div class="release-commodity-hd">
				2、食品安全信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">产品标准号：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">产品生产许可证号：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">保质期：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">使用方法：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">适宜人群：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">不适宜人群：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">配料表：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">食品添加剂：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">规格：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">成分含量：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">功能及功效：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">注意事项：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">存储方法：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">包装方式：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">生产日期：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">重量：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">重量单位：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
					<li>
						<div class="release-commodity-info-label fl">生产厂家：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">生产厂址：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt" type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">厂家联系方式：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt" type="text">
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

		<div class="commodity-food-safety-info">
			<div class="release-commodity-hd">
				3、商品描述
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">商品图片：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-upload-img" type="file" required>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品描述：</div>
						<div class="release-commodity-info-txt fl">
							<textarea class="release-commodity-desc" required></textarea>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

		<div class="commodity-food-safety-info">
			<div class="release-commodity-hd">
				4、	其他信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">发票：</div>
						<div class="release-commodity-info-txt fl">
							<input class="fl" name="release-commodity-invoice" type="radio" checked>
							<div class="release-commodity-radio-txt fl">无</div>
							<input class="fl" name="release-commodity-invoice" type="radio" >
							<div class="release-commodity-radio-txt fl">有</div>
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">库存：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-stock" required type="text">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品上架时间：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-shelf-start-day" required type="text">日
							<select class="release-commodity-shelf-start-hour">
								<option>1</option>
								<option>2</option>
							</select>时
							<select class="release-commodity-shelfp-start-minute">
								<option>1</option>
								<option>2</option>
							</select>分&nbsp;&nbsp;&nbsp;&nbsp;到
							<input class="release-commodity-shelf-end-day">日
							<select class="release-commodity-shelf-end-hour">
								<option>1</option>
								<option>2</option>
							</select>时
							<select class="release-commodity-shelf-end-minute">
								<option>1</option>
								<option>2</option>
							</select>分
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

		<div class="release-commodity-footer">
			<div class="release-commodity-btn">
				发布
			</div>
		</div>
	</div>
</div>