.information{
	margin-left:300px;
	height: 51px;
	background-color:#E9E9E9;
	line-height: 51px;
	font-size: 16px;
	color:#656565;
	padding-left:14px;
	margin-bottom:30px;
	
}
.getAll-information{
	margin-top:20px;
	border:1px solid #CCC;
}
.querys{
	margin-left:30px;

}
ul .querys li{
	border-bottom:1px solid #ccc;
}
.content{
	margin-bottom:100px;
}
.conreow{
	
	border-bottom:1px solid #ccc;
}
.querys li span{
	margin-left:170px;
	height:50px;
	line-height:50px;

}
