@import "../common";

.information{
	height: 51px;
	background-color:#E9E9E9;
	line-height: 51px;
	font-size: 16px;
	color:#656565;
	padding-left:14px;
	margin-bottom:30px;
	
}

.tr1{
	height:30px;
	line-height:30px;
}

.all-info-tb{
	font-size:14px;
}
.all-info-tb th{
	text-align:center;
}

.all-info-tb th,.all-info-tb td{
	border:1px solid @gray-border;
}

.title-hd{
	width:300px;
}

.date-hd{
	width:180px;
}

.summary-hd{
	width:320px;
}

.action-hd{
	width:100px;
}

.td1{
	white-space:nowrap; 
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis; 
	overflow:hidden;
}
.td3{
	white-space:nowrap;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	overflow:hidden;
}


