@import "common";

.header{
	width: 100%;
    padding: 20px;
    border-bottom: 2px solid @base-color;
    margin-bottom: 10px;
    overflow: hidden;
}

.hd-txt{
	height: 60px;
    line-height: 60px;
    font-size: 32px;
    color: #ff3433;
    padding-left: 30px;
}

.footer{
	height: 100px;
    background-color: #373737;
    line-height: 100px;
    min-width: @center-view-width;
}

ul.footer-info-list > li{
	padding:0 5px;
	color:#b4b4b4;
} 

ul.footer-info-list > li > a {
	color:#b4b4b4;
}
