<div class="seller-center-left">
	<div class="seller-center-left-nav">
		<div class="scl-title">站内信息</div>
		<ul class="scl">
			<li class="sc-first-menu">团购</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="marketing.group-mngt" ui-sref-active="sc-second-menu-item-selected">团购商品维护</li>
						<li class="sc-second-menu-item" ui-sref="marketing.group-add" ui-sref-active="sc-second-menu-item-selected">新增团购商品</li>
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">竞拍</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="marketing.auction-mngt" ui-sref-active="sc-second-menu-item-selected">竞拍商品维护</li>
						<li class="sc-second-menu-item" ui-sref="marketing.auction-add" ui-sref-active="sc-second-menu-item-selected">新增竞拍商品</li>
						
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>