<div class="center-view" ng-controller="MerchantEditController as mEditController">
<ng-form  name='saveForm'>

	<div class="commodity-main">
		<div class="commodity-main-hd">
			商家管理&gt;商家维护
		</div>
		<div class="commodity-base-info">
			<div class="release-commodity-hd">
				1、商家基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">商家名称：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.merchantName" name="merchantName" required>
						</div>
						<p ng-show="saveForm.merchantName.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商家英文名称：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.merchantEname" name="merchantEname" required>
						</div>
						<!--
						<p ng-show="saveForm.merchantEname.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					-->
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商家编码：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.merchantCode" name="merchantCode" required>
						</div>
						<!-- <p ng-show="saveForm.merchantCode.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p> -->
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商家地址：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.merchantAddress" name="merchantAddress" required>
						</div>
						<p ng-show="saveForm.merchantAddress.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商家规模：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.merchantScale" name="merchantScale" required>
						</div>
						<p ng-show="saveForm.merchantScale.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">员工人数：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"  type="text" ng-model="m.employeeNum" pattern="^[+-]?\d+(\.\d+)?$" name="employeeNum">
						</div>
						<p ng-show="saveForm.employeeNum.$dirty && saveForm.employeeNum.$error.pattern" style="color: red" >&nbsp;员工人数只能输入数字</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">联系电话：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.tel" name="tel" required>
						</div>
						<p ng-show="saveForm.tel.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">邮编：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.zipcode" name="zipcode" required>
						</div>
						<p ng-show="saveForm.zipcode.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">QQ：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.qq" name="qq">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">管理员排序：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="m.adminSortNum" name="adminSortNum" required>
						</div>
						<p ng-show="saveForm.adminSortNum.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">是否开具发票：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" ng-model="m.invoiceFlag" 
							name="invoiceFlag" required>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>
						<p ng-show="saveForm.invoiceFlag.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>

					</li>
					<div class="clear"></div>     
					 <li>
						<div class="release-commodity-info-label fl">商家等级：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"  type="text" ng-model="m.level" pattern="^[+-]?\d+(\.\d+)?$" name="level">
						</div>
						<p ng-show="saveForm.level.$dirty && saveForm.level.$error.pattern" style="color: red" >&nbsp;商家等级只能输入数字</p>
					</li>
					<div class="clear"></div>     
					<li>
						<div class="release-commodity-info-label fl">商家描述：</div>
						<div class="release-commodity-info-txt fl">
							<textarea class="release-commodity-desc" ng-model="m.merchantDesc"></textarea>
						</div>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

		<div class="commodity-food-safety-info">
			<div class="release-commodity-hd">
				2、商家品牌信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">产品标准号：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-food-safety-txt"  type="text" ng-model="m.standardNo" name="standardNo" required>
						</div>
						<p ng-show="saveForm.standardNo.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

		<!-- <div class="commodity-food-safety-info">
			<div class="release-commodity-hd">
				3、商家图片
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
					 <div class="release-commodity-info-label fl">商品图片：</div>
						<div class="release-commodity-info-txt fl">
							<form  id="fileinfo1">
							<input class="release-commodity-upload-img" type="file" id="file1" name="file" onchange="$('#sub1').trigger('click')" />
							<input id="sub1" type="hidden" ng-click="doUpload(1)"/>
							</form>
						</div>
						<input type="button" value="上传1"  ng-click="doUpload(1)" />{{success1}}
					</li>
					<div class="clear"></div>
					<li>
					 <div class="release-commodity-info-label fl"></div>
						<div class="release-commodity-info-txt fl">
							<form  id="fileinfo2">
							<input class="release-commodity-upload-img" type="file" id="file2" name="file"  onchange="$('#sub2').trigger('click')"/>
							<input id="sub2" type="hidden" ng-click="doUpload(2)"/>
							</form>
						</div>
						{{success2}}
					</li>
					<div class="clear"></div>
					<li>
					 <div class="release-commodity-info-label fl"></div>
						<div class="release-commodity-info-txt fl">
							<form  id="fileinfo3">
							<input class="release-commodity-upload-img" type="file" id="file3" name="file"  onchange="$('#sub3').trigger('click')"/>
							<input id="sub3" type="hidden" ng-click="doUpload(3)"/>
							</form>
						</div>
						{{success3}}
					</li>
					<div class="clear"></div>
					<li>
					 <div class="release-commodity-info-label fl"></div>
						<div class="release-commodity-info-txt fl">
							<form  id="fileinfo4">
							<input class="release-commodity-upload-img" type="file" id="file4" name="file" onchange="$('#sub4').trigger('click')"/>
							<input id="sub4" type="hidden" ng-click="doUpload(4)"/>
							</form>
						</div>
						{{success4}}
					</li>
					<div class="clear"></div>
					<li>
					 <div class="release-commodity-info-label fl"></div>
						<div class="release-commodity-info-txt fl">
							<form  id="fileinfo5">
							<input class="release-commodity-upload-img" type="file" id="file5" name="file" onchange="$('#sub5').trigger('click')"/>
							<input id="sub5" type="hidden" ng-click="doUpload(5)"/>
							</form>
						</div>
						{{success5}}
					</li>
					<div class="clear"></div>
					<li>
		
					 	<script type="text/plain" id="editor" ></script>
						<script type="text/javascript">
							var ue = UE.getEditor('editor');
							UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
							UE.Editor.prototype.getActionUrl= function(action){
								//alert("上传路径~"+action)
								if (action == 'uploadimage' || action == 'uploadscrawl' ) {
									return 'http://localhost:8080/api/resource/ueditor/upload';
								}
								else{
									 return ue._bkGetActionUrl.call(this, action);
								}
		
							}
							function getContents(){
								$("#texts").val(ue.getContent());
							}
						</script>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div> -->
		
 	<textarea  id="texts" style="display: none;"></textarea>
	<input type="hidden" ng-model="m.thumbpath1"/>
	<input type="hidden" ng-model="m.thumbpath2"/>
	<input type="hidden" ng-model="m.thumbpath3"/>
	<input type="hidden" ng-model="m.thumbpath4"/>
	<input type="hidden" ng-model="m.thumbpath5"/>

		<div class="release-commodity-footer" >
			<button class="release-commodity-btn" onclick="getContents()" ng-click="submit(m)"
			ng-disabled="saveForm.$invalid "
			>
				修改
			</button>
		</div>
	</div>

</ng-form>
</div>

