<div class="center-view" ng-controller="PostageRefreshController">
<ng-form  name='saveForm'>

	<div class="commodity-main">
		<div class="commodity-main-hd" >
			邮费模板
		</div>
		<div class="commodity-base-info"  >
			<div class="release-commodity-hd" >
				基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">标题：</div>
						<div class="release-commodity-info-txt fl" >
							<input name="title" ng-model="postage.title" required ></input>
						</div>
						<p ng-show="saveForm.title.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<li>
						<div class="release-commodity-info-label fl">收费方式:</div>
						<input type="radio" name='type' value="number" ng-model="postage.type" > 按件收费
						<input type="radio" name='type' value="weight" ng-model="postage.type" > 按重量收费
						<input type="radio" name='type' value="volume" ng-model="postage.type" > 按体积收费
					</li>
					<li>
						<div class="release-commodity-info-label fl">运送方式:</div>
						<p ng-repeat="transport in transportList" class="fl">
							<input  type="checkbox" name='transportType' ng-click="changeTransport(transport)" ng-model="transport.selected" value="true" > {{transport.transportType| transportFilter}}
						</p>
						

						
					</li>
					<div class="clear"></div>
					
					
				</ul>
				<table ng-repeat="transport in transportList" ng-if="transport.selected && postage.type!=null" class="posage-table">
					<tr><td>{{transport.transportType| transportFilter}}</td></tr>
					<tr>
						<td>配送区域</td>
						<td>是否包邮</td>
						<td ng-if="postage.type=='number'">首件(个)</td>
						<td ng-if="postage.type=='weight'">首重(kg)</td>
						<td ng-if="postage.type=='volume'">首体积(m³)</td>
						<td>首费(元)</td>
						<td ng-if="postage.type=='number'">续件(个)</td>
						<td ng-if="postage.type=='weight'">续重(kg)</td>
						<td ng-if="postage.type=='volume'">续体积(m³)</td>
						<td>续费(元)</td>

					</tr>
					<tr ng-repeat="detail in transport.details" >
						<td ng-if="detail.fitArea=='default'" class="fit-area">
							<span >全国默认</span>
						</td>
						<td ng-if="detail.fitArea==null || detail.fitArea==''" class="fit-area">
							<input ng-model="detail.fitArea"  required  type="hidden">
							<span ng-click="areaTree(detail)" style="color: red">点击指定区域</span>
						</td>
						<td class="fit-area" ng-if="detail.fitArea!=null && detail.fitArea!='default'&& detail.fitArea!=''" ng-click="areaTree(detail)">指定区域[{{detail.fitAreaName}}]</td>
						<td>
							<input type="radio" name='{{$index+detail.transportType}}'  ng-model="detail.free" ng-click="freeSet(detail)" ng-value="true">是
							<input type="radio" name='{{$index+detail.transportType}}'  ng-model="detail.free" ng-value="0" >否
						</td>
						<td ng-if="postage.type=='number'">
							<input ng-model="detail.firstNumber" name="{{detail.transportType+$index+'firstNumber'}}" ng-disabled="detail.free!=0" required pattern="^\d+$">
							<p ng-show="saveForm.{{detail.transportType+$index+'firstNumber'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'firstNumber'}}.$dirty && saveForm.{{detail.transportType+$index+'firstNumber'}}.$error.pattern">只能填数字</p>
						</td>
						<td ng-if="postage.type=='weight'">
							<input ng-model="detail.firstWeight" name="{{detail.transportType+$index+'firstWeight'}}" ng-disabled="detail.free!=0" required pattern="^[+-]?\d+(\.\d+)?$">
							<p ng-show="saveForm.{{detail.transportType+$index+'firstWeight'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'firstWeight'}}.$dirty && saveForm.{{detail.transportType+$index+'firstWeight'}}.$error.pattern">只能填数字</p>
						</td>
						<td ng-if="postage.type=='volume'">
							<input ng-model="detail.firstVolume" name="{{detail.transportType+$index+'firstVolume'}}" ng-disabled="detail.free!=0" required pattern="^[+-]?\d+(\.\d+)?$">
							<p ng-show="saveForm.{{detail.transportType+$index+'firstVolume'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'firstVolume'}}.$dirty && saveForm.{{detail.transportType+$index+'firstVolume'}}.$error.pattern">只能填数字</p>
						</td>
						<td>
							<input ng-model="detail.firstCost" name="{{detail.transportType+$index+'firstCost'}}" ng-disabled="detail.free!=0" required pattern="^[+-]?\d+(\.\d+)?$">
							<p ng-show="saveForm.{{detail.transportType+$index+'firstCost'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'firstCost'}}.$dirty && saveForm.{{detail.transportType+$index+'firstCost'}}.$error.pattern">只能填数字</p>
						</td>
						<td ng-if="postage.type=='number'">
							<input ng-model="detail.nextNumber" name="{{detail.transportType+$index+'nextNumber'}}" ng-disabled="detail.free!=0" required pattern="^\d+$">
							<p ng-show="saveForm.{{detail.transportType+$index+'nextNumber'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'nextNumber'}}.$dirty && saveForm.{{detail.transportType+$index+'nextNumber'}}.$error.pattern">只能填数字</p>
						</td>
						<td ng-if="postage.type=='weight'">
							<input ng-model="detail.nextWeight" name="{{detail.transportType+$index+'nextWeight'}}" ng-disabled="detail.free!=0" required pattern="^[+-]?\d+(\.\d+)?$">
							<p ng-show="saveForm.{{detail.transportType+$index+'nextWeight'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'nextWeight'}}.$dirty && saveForm.{{detail.transportType+$index+'nextWeight'}}.$error.pattern">只能填数字</p>
						</td>
						<td ng-if="postage.type=='volume'">
							<input ng-model="detail.nextVolumn" name="{{detail.transportType+$index+'nextVolumn'}}" ng-disabled="detail.free!=0" required pattern="^[+-]?\d+(\.\d+)?$">
							<p ng-show="saveForm.{{detail.transportType+$index+'nextVolumn'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'nextVolumn'}}.$dirty && saveForm.{{detail.transportType+$index+'nextVolumn'}}.$error.pattern">只能填数字</p>
						</td>
						<td>
							<input ng-model="detail.nextCost" name="{{detail.transportType+$index+'nextCost'}}" ng-disabled="detail.free!=0" required pattern="^[+-]?\d+(\.\d+)?$">
							<p ng-show="saveForm.{{detail.transportType+$index+'nextCost'}}.$error.required">必填</p>
							<p ng-show="saveForm.{{detail.transportType+$index+'nextCost'}}.$dirty && saveForm.{{detail.transportType+$index+'nextCost'}}.$error.pattern">只能填数字</p>
						</td>
						<td ng-if="detail.fitArea!='default'"><span ng-click="removeDetail(transport.details,$index)">删除</span></td>

					</tr>
					<tr><td ng-click="addItem(transport.details,transport.transportType)"style="color: red">点击指定地区城市设置运费</td></tr>

				</table>
			</div>
		</div>
		<area-tree-dialog></area-tree-dialog>

		<div class="release-commodity-footer" >
		<!--  -->
			<button class="release-commodity-btn"  ng-click="submit(postage)"
			ng-disabled="saveForm.$invalid">
				确定
			</button>
		</div>
	</div>

</ng-form>
</div>

