<div class="center-view" ng-controller="PostageAddController">
<ng-form  name='saveForm'>

	<div class="commodity-main">
		<div class="commodity-main-hd" >
			邮费模板
		</div>
		<div class="commodity-base-info"  >
			<div class="release-commodity-hd" >
				基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">标题：</div>
						<div class="release-commodity-info-txt fl" >
							<input name="title" ng-model="postage.title" required ></input>
						</div>
						<p ng-show="saveForm.title.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<li>
						<div class="release-commodity-info-label fl">收费方式:</div>
						<input type="radio" name='type' value="number" ng-model="postage.type" > 按件收费
						<input type="radio" name='type' value="weight" ng-model="postage.type" > 按重量收费
						<input type="radio" name='type' value="volume" ng-model="postage.type" > 按体积收费
					</li>
					<li>
						<div class="release-commodity-info-label fl">运送方式:</div>
						<p ng-repeat="transport in transportList" class="fl">
							<input  type="checkbox" name='transportType' ng-click="changeTransport(transport)" value="{{transport.transportType}}" > {{transport.transportType| transportFilter}}
						</p>
						

						
					</li>
					<div class="clear"></div>
					
					
				</ul>
				<table ng-repeat="transport in transportList" ng-if="transport.selected && postage.type!=null" style="border: 1px solid #d5d5d5;">
					<tr><td>{{transport.transportType| transportFilter}}</td></tr>
					<tr>
						<td>配送区域</td>
						<td>是否包邮</td>
						<td ng-if="postage.type=='number'">首件(个)</td>
						<td ng-if="postage.type=='weight'">首重(kg)</td>
						<td ng-if="postage.type=='volume'">首体积(m³)</td>
						<td>首费(元)</td>
						<td ng-if="postage.type=='number'">续件(个)</td>
						<td ng-if="postage.type=='weight'">续重(kg)</td>
						<td ng-if="postage.type=='volume'">续体积(m³)</td>
						<td>续费(元)</td>

					</tr>
					<tr ng-repeat="detail in transport.details" >
						<td ng-if="detail.fitArea!=null">{{detail.fitAreaName}}</td>
						<td ng-if="detail.fitArea==null">
							<span ng-click="areaTree()">地区弹出框</span>
						</td>
						<td>
							<input type="radio" name='{{$index+detail.transportType}}' value="true" ng-model="detail.free">是
							<input type="radio" name='{{$index+detail.transportType}}' value="" ng-model="detail.free">否
						</td>
						<td ng-if="postage.type=='number'"><input ng-model="detail.firstNumber" ng-disabled="detail.free"></td>
						<td ng-if="postage.type=='weight'"><input ng-model="detail.firstWeight" ng-disabled="detail.free"></td>
						<td ng-if="postage.type=='volume'"><input ng-model="detail.firstVolume" ng-disabled="detail.free"></td>
						<td><input ng-model="detail.firstCost" ng-disabled="detail.free"></td>
						<td ng-if="postage.type=='number'"><input ng-model="detail.nextNumber" ng-disabled="detail.free"></td>
						<td ng-if="postage.type=='weight'"><input ng-model="detail.nextWeight" ng-disabled="detail.free"></td>
						<td ng-if="postage.type=='volume'"><input ng-model="detail.nextVolumn" ng-disabled="detail.free"></td>
						<td><input ng-model="detail.nextCost" ng-disabled="detail.free"></td>
						<td ng-if="$index!=0"><span ng-click="removeDetail(transport.details,$index)">删除</span></td>

					</tr>
					<tr><td ng-click="addItem(transport.details,transport.transportType)">指定地区城市设置运费</td></tr>

				</table>
			</div>
		</div>
		<area-tree-dialog></area-tree-dialog>

		<div class="release-commodity-footer" >
		<!--  -->
			<button class="release-commodity-btn"  ng-click="submit(postage)"
			ng-disabled="saveForm.$invalid">
				确定
			</button>
		</div>
	</div>

</ng-form>
</div>

