<div class="seller-center-left">
	<div class="seller-center-left-nav">
		<div class="scl-title">站内商品</div>
		<ul class="scl">
		<li class="sc-first-menu">wap商品管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="station-goods.wap-goods-add" ui-sref-active="sc-second-menu-item-selected">wap发布商品</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.goods-list" ui-sref-active="sc-second-menu-item-selected">wap商品维护</li>
					</ul>
				</div>
			</li>



			<!-- <li class="sc-first-menu">商品管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="station-goods.release-commodity" ui-sref-active="sc-second-menu-item-selected">发布商品</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.goods-list" ui-sref-active="sc-second-menu-item-selected">商品维护</li>
						<li class="sc-second-menu-item sc-smi"  ui-sref="seller-center.warehouse-goods" ui-sref-active="sc-second-menu-item-selected">仓库中的商品</li>
						
					</ul>
				</div>
			</li> -->
			<li class="sc-first-menu">商家管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="station-goods.merchant-add" ui-sref-active="sc-second-menu-item-selected">新建商家</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.merchant-list" ui-sref-active="sc-second-menu-item-selected">商家维护</li>
						 
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">品牌管理</li>
			<li class="sc-smb sc-smb-l">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="station-goods.brand-add" ui-sref-active="sc-second-menu-item-selected">新建品牌</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.brand-list" ui-sref-active="sc-second-menu-item-selected">品牌维护</li>
						 
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">类别管理</li>
			<li class="sc-smb sc-smb-l">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="station-goods.type-add" ui-sref-active="sc-second-menu-item-selected">新建类别</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.type-list" ui-sref-active="sc-second-menu-item-selected">类别维护</li>
						 
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">推广管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="station-goods.admodule-add" ui-sref-active="sc-second-menu-item-selected">新建广告模块</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.admodule-list" ui-sref-active="sc-second-menu-item-selected">广告模块维护</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.addetail-add" ui-sref-active="sc-second-menu-item-selected">新建广告</li>
						<li class="sc-second-menu-item" ui-sref="station-goods.addetail-list" ui-sref-active="sc-second-menu-item-selected">广告维护</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>