<div ng-controller="SchoolSiteController">
	<div class="information" >
		资讯管理&gt查询增加的资讯
	</div>
	<div class="content">
		
		<table class="all-info-tb">
			<tr class="tr1">
				<th style="width:120px;">类别</th>
				<th class="title-hd">标题</th>			
				<th class="date-hd" style="text-align:left;">时间</th>
				<th class="summary-hd">摘要</th>
				<th class="action-hd">操作</th>
			</tr>
			<tr ng-repeat="detail in alldetail">
				<td ><p class="title-p text-omitted">{{detail.title}}<td></td>
				<td ><p class="date-p text-omitted">{{detail.addtime}}</td></td>
				<td ><p class="summary-p text-omitted">{{detail.abstracts}}</td></td>
				<td>
					<input type="button" value="删除" ng-click="deletedetails(detail)" />
					<input type="button" value="修改" ng-click="updatedetails(detail)">
				</td>
			</tr>
			<tr class="tr1">
				<td style="border:none;"></td>
				<td style="border:none;"></td>
				<td rowspan="5" style="text-align:center;border:none;cursor:pointer" ng-if="more" ng-click="getList(size)">查看更多</td>
				<td style="border:none;"></td>
				<td style="border:none;"></td>


			</tr>

		</table>
	</div>
</div>