<div class="seller-center-left">
	<div class="seller-center-left-nav">
		<div class="scl-title">站内信息</div>
		<ul class="scl">
			<li class="sc-first-menu">购物金</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="vip.add-cashcounpon" ui-sref-active="sc-second-menu-item-selected">购物金新增</li>
						<li class="sc-second-menu-item" ui-sref="vip.cashcounpon" ui-sref-active="sc-second-menu-item-selected">购物金管理</li>
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">抵用券</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="vip.add-discountcounpon" ui-sref-active="sc-second-menu-item-selected">抵用券新增</li>
						<li class="sc-second-menu-item" ui-sref="vip.discountcounpon" ui-sref-active="sc-second-menu-item-selected">抵用券管理</li>
						
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>