<div class="header" ng-controller="HeaderController">
      <div class="center-view">
        <a href="/#/">
        <div class="logo-img fl">
          <img src="../images/logo.png">
        </div>
        <div class="hd-txt fl">
          卖家中心
        </div>
        </a>
      </div>
      <div class="clear"></div>
      <div class="header-nav">
        <div class="center-view">
          <ul class="header-nav-list">
            <li>
              <a href="#/trading-center">交易中心</a>
            </li>
            <li>
              <a href="#/station-goods">站内商品</a>
            </li>
            <li>
              <a href="#/station-info">站内信息</a>
            </li>
            <li>
              <a href="#/vip">优惠券管理</a>
            </li>
          </ul>
        </div>
        
      </div>
      <login-dialog></login-dialog>
    </div>