<div class="center-view" ng-controller="WapGoodsOperationController as wapGoodsOperationController">

<ng-form  name='saveForm'> 
<!-- ================================goods============================================ -->
<!-- -->
	<div class="commodity-main">
		<div class="commodity-main-hd">
			商品管理&gt;发布商品
		</div>

		<div class="commodity-base-info">
			<div class="release-commodity-hd">
				商品基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">所属商家：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"   
							type="text" value="{{thisMerchant.name}}" readonly="true">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品类型：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required 
							ng-model="goods.tid" 
							ng-options="t.id as t.name for t in types"
							name="type">
							</select>
						</div>
						<p ng-show="saveForm.type.$error.required" style="color: red" >*必填</p>

					</li>
					<div class="clear"></div>

					<li>
						<div class="release-commodity-info-label fl">商品名称：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"   type="text" ng-model="goods.name" name="name" required>
						</div>
						<p ng-show="saveForm.name.$error. required" style="color: red" >&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品编码：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"  type="text" ng-model="goods.code" name="code" required  ng-blur="checkCode(goods.code)">
						</div>
						<p ng-show="saveForm.code.$error.required" style="color: red" >&nbsp;*必填</p>
						
					</li>
					<div class="clear"></div>
	
					<li>
						<div class="release-commodity-info-label fl">商品描述：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length"   
							type="text" ng-model="goods.about" name="about" required>
						</div>
						<p ng-show="saveForm.about.$error.required" style="color: red" >&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">商品价格：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length" type="text" ng-model="goods.price"  pattern="^[+-]?\d+(\.\d+)?$" name="price" required>
						</div>
						<p ng-show="saveForm.price.$error.pattern" style="color: red" >&nbsp;价格只能输入数字</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">折扣价格：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length" type="text" ng-model="goods.salePrice"  pattern="^[+-]?\d+(\.\d+)?$" name="salePrice" required>
						</div>
						<p ng-show="saveForm.salePrice.$error.pattern" style="color: red" >&nbsp;价格只能输入数字</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">上架时间：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-input-length" 
							onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="uptime"
							ng-model="goods.uptime">
							&nbsp;&nbsp;&nbsp;&nbsp;到&nbsp;&nbsp;&nbsp;&nbsp;
							<input class="release-commodity-input-length" 
							onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="downtime"
							ng-model="goods.downtime">
						</div>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">邮费模板：</div>
						<div class="release-commodity-info-txt fl">
							<select class="release-commodity-select-length" required
							ng-model="goods.pid" 
							ng-options="p.id as p.title for p in postages"
							name="postage">
							</select>
						</div>
						<p ng-show="saveForm.postage.$error.required" style="color: red" >*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">展示图片：</div>
						<div class="release-commodity-info-txt fl">
								<div class="release-commodity-desc-img">
									<img ng-src="{{goods.thumbpath3}}">
								</div>
							<div class="release-commodity-desc-btn">
							<form  id="pathFile">
							<input class="release-commodity-upload-img" type="file" id="path_file" name="file"  onchange="$('#submitPath').trigger('click')"/>
							<input id="submitPath" type="hidden" ng-click="submitPathUpload(100)"/>
							</form>
						</div>
						{{pathSuccess}}
						</div>		
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>

	<input type="hidden" ng-model="goods.path"/>
	<input type="hidden" ng-model="goods.mid" value="{{thisMerchant.id}}" />

<!-- ==========================================================================================-->

<!-- ================================规格展示区===============================================-->
	<!---->
<div class="commodity-food-safety-info">
			<div class="release-commodity-hd">商品规格</div>
			<hr>	
			属性: <input type="text" ng-model="a.name"/> <br>
			内容: <input type="text"  ng-model="v.name"/> 
			&nbsp;&nbsp; <a ng-click="addV(a.name,v.name)">添加值</a> <br>
			
			<span ng-repeat="v in careate_values">
						<b>{{v.value}} <a ng-click="delV(v.value)">X</a> </b> &nbsp;&nbsp;
			</span>
			 <br>
			<a ng-click="addA(a.name)">确定</a>
			<a>取消</a>
			<hr>

			<!-- 	<div class="release-commodity-info" ng-repeat="attr in attrs" >
					<b>{{attr.key}} <a ng-click="delA(attr.key)">X</a> </b> <br>
					<span ng-repeat="v in attr.values">
						<b>{{v.value}}</b> &nbsp;&nbsp;
					</span>	
			</div> -->
		 
</div>		

<!-- =========================sku区===================================================================== -->

<!---->

	 <div  class="div_contentlist" ng-repeat="attr in attrs">
		 <ul class="Father_Title" >
			 <li>{{attr.key}} </li>
		 </ul>
		 <br>
	        <ul class="Father_Item{{$index}}">
	            <li class="li_width" ng-repeat="v in attr.values" >
	            <label  onchange="attrChange()"><input id="Checkbox3" type="checkbox" 
	            class="chcBox_Width" value="{{v.value}}" />{{v.value}}<span class="li_empty" ></span></label>
	            </li>
	        </ul>
	<br>
	</div> 
 
<br>
<div class="div_contentlist2">
        <ul> <li><div id="createTable"></div></li></ul>
 </div>
<br><br><br><br><br>

<!-- ============================================================================================-->
<!-- ===========================info区===================================-->
<!---->
            <hr>
<div class="commodity-food-safety-info">
            <div class="release-commodity-hd">
                商品详细信息
            </div>
            <button onclick="insertRow()">添加一条</button><br>

        <table width="80%" border="1" style="text-align: center;" id="infos">
            <tr>
                <td >标题</td>
                <td >信息</td>
                <td style="width: 10%;">操作</td>
            </tr>
        </table>

</div>
<hr>

<!-- ==========================图片区=================================================== -->
<!---->
<div class="commodity-food-safety-info">
			<div class="release-commodity-hd">
				展示图片
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-desc-info-list">
					<li>
					 	<div class="release-commodity-desc-img">
						 <img ng-src="{{path1}}"> 
						</div>
						<div class="release-commodity-desc-btn">
							<form  id="fileinfo1">
							<input class="release-commodity-upload-img" type="file" id="file1" name="file" onchange="$('#sub1').trigger('click')" />
							<input id="sub1" type="hidden" ng-click="doUpload(1)"/>
							</form>
						</div>
						{{success1}}
					</li>
					<li>
						<div class="release-commodity-desc-img">
							 <img ng-src="{{path2}}"> 
						</div>
						<div class="release-commodity-desc-btn">
							<form  id="fileinfo2">
							<input class="release-commodity-upload-img" type="file" id="file2" name="file"  onchange="$('#sub2').trigger('click')"/>
							<input id="sub2" type="hidden" ng-click="doUpload(2)"/>
							</form>
						</div>
						{{success2}}
					</li>
					<li>
					 <div class="release-commodity-desc-img">
							 <img ng-src="{{path3}}"> 
						</div>
						<div class="release-commodity-desc-btn">
							<form  id="fileinfo3">
							<input class="release-commodity-upload-img" type="file" id="file3" name="file"  onchange="$('#sub3').trigger('click')"/>
							<input id="sub3" type="hidden" ng-click="doUpload(3)"/>
							</form>
						</div>
						{{success3}}
					</li>
					<li>
					 <div class="release-commodity-desc-img">
							 <img ng-src="{{path4}}"> 
						</div>
						<div class="release-commodity-desc-btn">
							<form  id="fileinfo4">
							<input class="release-commodity-upload-img" type="file" id="file4" name="file" onchange="$('#sub4').trigger('click')"/>
							<input id="sub4" type="hidden" ng-click="doUpload(4)"/>
							</form>
						</div>
						{{success4}}
					</li>
					<li>
					 <div class="release-commodity-desc-img">
							 <img ng-src="{{path5}}"> 
						</div>
						<div class="release-commodity-desc-btn">
							<form  id="fileinfo5">
							<input class="release-commodity-upload-img" type="file" id="file5" name="file" onchange="$('#sub5').trigger('click')"/>
							<input id="sub5" type="hidden" ng-click="doUpload(5)"/>
							</form>
						</div>
						{{success5}}
					</li>
					<div class="clear"></div>
					<li>
					 	<script type="text/plain" id="editor" ></script>
					 	<ueditor  ng-model="content"></ueditor>
						<textarea ng-model="content" style="display: none;"/>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
	<input type="hidden" value="{{path1}}" id="path1" />
	<input type="hidden" value="{{path2}}" id="path2" />
	<input type="hidden" value="{{path3}}" id="path3" />
	<input type="hidden" value="{{path4}}" id="path4" />
	<input type="hidden" value="{{path5}}" id="path5" />

<!-- ============================================================================-->
		<div class="release-commodity-footer" >
			<button class="release-commodity-btn"  ng-click="save(goods)"
			ng-disabled="saveForm.$invalid">
				发布
			</button>
		</div>
	</div>
</ng-form>



</div>

