<div class="center-view" ng-controller="AdmoduleEditController as admoduleEditController">
<ng-form  name='saveForm'>

	<div class="commodity-main">
		<div class="commodity-main-hd">
			推广管理&gt;新建广告模块
		</div>
		<div class="commodity-base-info">
			<div class="release-commodity-hd">
				模块基本信息
			</div>
			<div class="release-commodity-info">
				<ul class="release-commodity-info-list">
					<li>
						<div class="release-commodity-info-label fl">模块编码：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="obj.code" name="code" required>
						</div>
						<p ng-show="saveForm.code.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">模块名称：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="obj.name" name="name" required>
						</div>
						<p ng-show="saveForm.name.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">图片路径：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="obj.imgpath" name="imgpath" required>
						</div>
						<p ng-show="saveForm.imgpath.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
					<div class="clear"></div>
					<li>
						<div class="release-commodity-info-label fl">描述：</div>
						<div class="release-commodity-info-txt fl">
							<input class="release-commodity-code"  type="text" ng-model="obj.description" name="description" required>
						</div>
						<p ng-show="saveForm.description.$error.required" style="color: red" >&nbsp;&nbsp;&nbsp;*必填</p>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<input type="hidden" ng-model="obj.id"/>
		<div class="release-commodity-footer" >
			<button class="release-commodity-btn" ng-click="saveorupdate(obj)"
			ng-disabled="saveForm.$invalid"
			>修改
			</button>
		</div>
	</div>

</ng-form>
</div>

