<div class="seller-center-left">
	<div class="seller-center-left-nav">
		<div class="scl-title">交易中心</div>
		<ul class="scl">
			<li class="sc-first-menu">交易管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="trading-center.sold-goods" ui-sref-active="sc-second-menu-item-selected">已卖出的宝贝</li>
						<li class="sc-second-menu-item" ui-sref="trading-center.comment" ui-sref-active="sc-second-menu-item-selected">评价管理</li>
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">退货管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="trading-center.refunding-list" ui-sref-active="sc-second-menu-item-selected">退款中</li>
						<li class="sc-second-menu-item" ui-sref="trading-center.returning-list" ui-sref-active="sc-second-menu-item-selected">退货中</li>
						<li class="sc-second-menu-item" ui-sref="trading-center.refunded-list" ui-sref-active="sc-second-menu-item-selected">已退款</li>
					</ul>
				</div>
			</li>
			<li class="sc-first-menu">物流管理</li>
			<li class="sc-smb">
				<div class="sc-second-menu-box">
					<ul>
						<li class="sc-second-menu-item" ui-sref="trading-center.wait-to-accept" ui-sref-active="sc-second-menu-item-selected">待发货</li>
						<li class="sc-second-menu-item " ui-sref="trading-center.delivering" ui-sref-active="sc-second-menu-item-selected">发货中</li>
						<li class="sc-second-menu-item" ui-sref="trading-center.delivered" ui-sref-active="sc-second-menu-item-selected">已发货</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>